:root{
    --color-1: #212A3E;
    --color-2: #394867;
    --color-3: #9BA4B5;
    --color-4: #F1F6F9;
    --title-font: 'Dancing Script', cursive;
    --regular-font: 'Comfortaa', cursive;
}

html{
    font-family: var(--regular-font);
    color: #2b2b2b;
}

body{
    background-color: var(--color-4);
}

header{
    background-color: var(--color-1);
}

#navbarNav a {
    text-decoration: none ;
    color: var(--color-4);
}

#navbarNav a:hover{
    color: var(--color-3);
}

#webTitle{
    font-family: var(--title-font);
}

#goldfishclub{
    height: 95vh;
    background-image: url(../assets/header.jpg);
    background-position: 63%;
}

.welcomeCard{
    width: 90%;
    max-width: 600px;
    border: 0;
    background-color: rgba(0,0,0,0);
    color: var(--color-4);
}

#welcomeCard h2{
    font-family: var(--title-font);
}
#varietiesTitle{
    margin-bottom: 0;
    padding-right: 0;
}
#varietiesTitle p{
    margin-bottom: 0;
}

#varietiesCards{
    width: 90%;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
}
#varietiesCards .card{
    background-color: var(--color-4);
}

#moreInfo{
   margin-top: 1rem;
   margin-bottom: 2rem;
}

#farmsCard{
    background-color: var(--color-2);
    color: var(--color-4);
    border-radius: 0;
}

.formItem{
    margin-bottom: 1rem;
}

footer{
    background-color: var(--color-2);
}

.footerItem{
    color: var(--color-4);
}

.footerItem:hover{
    color: var(--color-3);
}

.selectButton{
    background-color: var(--color-1);
    color: var(--color-4);
}

.selectButton:hover{
    background-color: var(--color-3);
}